* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* Styles the header area of the blog */
header {
    border-bottom: 10px double black;
    margin-bottom: 15px;   
}

h1 {
    margin-left: 20px;
}

button {
    position: absolute;
    margin-right: 10px;
    left: 94%;
    top: 30px;
    cursor: pointer;
    background-color: black;
    color: white;
}

/* styles the toggle button */
.toggle {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 22px;
    left: 89%;
    top: 30px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

input:checked + .slider {
    background-color: rgb(29, 128, 210);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Styles the blog content sections */
section {
    border: 2px solid black;
    margin: 20px 15px;
}

section h3 {
    border-bottom: 2px solid black;
    margin: 10px 12px;
}

section p {
    margin-left: 30px;
    font-style: italic;
}
.posted-by{
    margin-left: 10px;
}

.content {
    height: 5em;
}

footer {
    border-top: 10px double black;
}

footer p, h4 {
    margin: 15px 20px;
    font-style: italic;
}

footer a {
    color: black;
}

/* Styling for the dark mode */
body.dark-mode {
    background-color: rgba(0, 0, 0, 0.901);
    color: white;
}

body.dark-mode header {
    border-bottom: 8px ridge white;
}


body.dark-mode button {
    background-color: white;
    color: black;
}

body.dark-mode section {
    border: 2px solid white;

}

body.dark-mode section h3 {
    border-bottom: 2px solid white;

}

body.dark-mode footer {
    border-top: 8px ridge white;
}

body.dark-mode footer a {
    color: white;
}


/* Makes the back button and toggle button responsive */

@media screen and (max-width: 1112px ) {
    button {
        left: 93%;
    }
    .toggle {
        left: 87%
    }
}

@media screen and (max-width: 953px ) {
    button {
        left: 92%;
    }
    .toggle {
        left: 85%
    }
}
@media screen and (max-width: 834px ) {
    button {
        left: 90%;
    }
    .toggle {
        left: 82%
    }
}
@media screen and (max-width: 667px ) {
    button {
        left: 88%;
    }
    .toggle {
        left: 79%
    }
}
@media screen and (max-width: 556px ) {
    button {
        left: 86%;
    }
    .toggle {
        left: 76%
    }
}
@media screen and (max-width: 494px ) {
    .toggle {
        left: 75%
    }
}
@media screen and (max-width: 476px ) {
    button {
        left: 84%;
    }
    .toggle {
        left: 73%
    }
}
@media screen and (max-width: 424px ) {
    button {
        top: 12%
    }
    .toggle {
        top: 4%;
        left: 85%;
    }
}
@media screen and (max-width: 418px ) {
    button {
        left: 79%;
    }
    .toggle {
        left: 81%
    }
}