section {
    flex: 45%;
    margin: 9% 4%;
    background-image: url("../images/blog-background.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: none;
    border-radius: 10px;
    padding: 20px;
}

input, textarea, button {
    width: 100%;
    resize: none;
}

label {
    font-weight: bold;
}

#content {
    height: 80px;
}

button{
    background-color: rgba(158, 169, 179, 0.966);
    color: white;
    border: medium ridge ;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(130, 159, 170);
}

body.dark-mode section {
    background-image: url("../images/dark-3.jpg");
    border: thin solid white;
}

body.dark-mode button {
    background-color: rgba(30, 29, 29, 0.818);
}

body.dark-mode button:hover {
    background-color: rgb(38, 41, 42);
}