* {
    box-sizing: border-box;
}

body {
    display: flex;
    border: 10px double rgb(66, 66, 66);
    overflow: hidden;
}

.header-image {
    background-image: url("../images/blog-background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

header {
    color: rgb(66, 66, 66);
    border-radius: 60%;
    text-align: center;
    padding: 20%;
    margin: 20px 40px;
    font-size: large;
}

section {
    flex: 45%;
    margin: 9% 4%;
}

h2 {
    text-align: center;
    padding: 20px;  
}