* {
    box-sizing: border-box;
}

body {
    display: flex;
}

.header-image {
    background-image: url("../images/blog-background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

header {
    color: white;
    border-radius: 60%;
    text-align: center;
    padding: 20%;
    margin: 30px 40px;
    
}

section {
    flex: 45%;
    margin: 15% 4%
}
